---
BasedOnStyle: Mozilla
AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
ColumnLimit: '80'
Cpp11BracedListStyle: 'true'
NamespaceIndentation: All
...
