---
BasedOnStyle: Mozilla
AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
ColumnLimit: '65'
Cpp11BracedListStyle: 'true'
NamespaceIndentation: All
PointerAlignment: Right
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
...
